# See https://help.github.com/ignore-files/ for more about ignoring files.

# ------------ dependencies -----------------------------
# If you don't append a slash, the pattern will match both files and 
# the contents of directories with that name
/node_modules
/express-backend/node_modules

#Appending a slash indicates the pattern is a directory. 
#The entire contents of any directory in the repository matching 
#that name – including all of its files and subdirectories – will be ignored
/express-backend/logs/*.*
/express-backend/.env

#--------------- testing ---------------
/coverage

#--------------- production ---------------
/build

#--------------- misc ---------------
.DS_Store

#----- We should not checkin these files to version control system -----
.env.development
.env.production
#-----------------------------------------------------------------------

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*