
.content {
  margin: 1px 0px 0px 5px;
  /*width: 250px; */
}

.searchContact {
  position: fixed;
  top: 59px;
  background: #e0e0de; 
  border-radius: 3%;
}
.searchContactForm {
  margin-left: 3px;
}

.contentTable {
  margin-top: 60px;
  /*width: 230px;*/
  overflow: auto;
}

.contact_row { 
  height: 42px;
  padding-left: 5px;
  border-bottom: 2px solid #b2b9b9;
  margin: 1px 0; 
  cursor: pointer;
}

.contact_row:hover {
  background-color: rgb(244,245,245)
}

.contact_row_selected {
  background-color: rgb(238, 101, 38);
  border-radius: 3%;
}

.contact_row_msg_count_oval {
  width: 30px;
  height: 20px;
  background: rgb(9,210,97);
  border-radius: 40%;
  text-align: center; 
  color: white;
  /* space on top and right of oval */
  margin-top: 3px;
  margin-right: 8px;
}

/* msg_count of contacts in left pane, within <small> tags */
.contact_row_msg_count_oval small {
  vertical-align: top; 
}

div#contact_type, 
div#user {
  position:relative;
  float:left;
  margin-right:3px;      
}